<!-- Page Content -->
<div class="container">
    <div class="row">
    <% if user_signed_in? %>
        <div class="col-md-3">
            <p class="lead">Weekdays menu</p>
            <div class="list-group">
                <%= link_to "Sunday",    sunday_menus_path,    class: "list-group-item" %>
                <%= link_to "Monday",    monday_menus_path,    class: "list-group-item" %>
                <%= link_to "Tuesday",   tuesday_menus_path,   class: "list-group-item" %>
                <%= link_to "Wednesday", wednesday_menus_path, class: "list-group-item" %>
                <%= link_to "Thursday",  thursday_menus_path,  class: "list-group-item" %>
                <%= link_to "Friday",    friday_menus_path,    class: "list-group-item" %>
                <%= link_to "Saturday",  saturday_menus_path,  class: "list-group-item" %>
            </div>
        </div>
   <% end %>
    
<%=image_tag 'bc2.jpg', size: 600 %>

<!-- /.container -->
